* {
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  animation: colorAnimate 8s linear infinite;
}

@keyframes colorAnimate {
  100% {
    filter: hue-rotate(360deg);
  }
}

.spinner {
  position: relative;
  width: 2px;
  height: 2px;
  background: #0f4b26;
  border-radius: 50%;
}

.spinner span {
  position: absolute;
  width: 5000%;
  height: 5000%;
  background: inherit;
  border-radius: inherit;
  opacity: 0.8;
  animation: pulseAnimate 4s ease-out infinite;
  animation-delay: calc(1s * var(--i));
}

@keyframes pulseAnimate {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
